# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Home-Credit-Default-Risk-Project-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
